{
  "presets": [
    ["airbnb", {
      "targets": {
        "browsers": [
          "last 4 versions",
          "Firefox ESR",
          "not ie < 9"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-async-to-generator"
  ]
}